<div class="note" [ngClass]="{'resolved': note.resolved}">
    <button class="btn-options" (click)="toggleOptions()">. . .</button>
    <div class="options" *ngIf="showsOptions">
        <button class="btn-text" (click)="delete()">delete</button>
        <button *ngIf="!note.resolved" class="btn-text" (click)="resolve()">resolve</button>
    </div>
    <span [ngClass]="{'line-through': note.resolved}" class="title">{{note.title}}</span>
    <span class="content">{{note.content}}</span>
    <span *ngIf="note.resolved" class="date">resolved at: {{note.resolved}}</span>
</div>
